<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />

    <script src='node_modules/jquery/dist/jquery.min.js'></script>
    <script src='node_modules/handlebars/dist/handlebars.min.js'></script>
    <script src='app.js'></script>
    <script src='loginRegService.js'></script>
    <script src='countryService.js'></script>
    <script src='loginController.js'></script>
    <script src='regController.js'></script>
    <script src='nextPageController.js'></script>
    <script src='detailsPageController.js'></script>

</head>

<body>
    <main>
        <div id="search-countries"></div>
        <div id="visited-countries"></div>
    </main>

    <div id="login-container">
        <div class="form" id="login-form">
            <input id="lUsername" class='welcome-input' type="text" placeholder="Enter Username" />
            <input id="lPassword" class='welcome-input' type="password" placeholder="Enter Password" />
            <div id='login-btn' class="btn">LOGIN</div>
            <div class="no-account">
                <p>or</p>
                <a id="no-acc" href="">I don't have an account.</a>
            </div>
        </div>
    </div>

    <div id="reg-container">
        <div class="form" id="reg-form">
            <input id="rFirstName" class='welcome-input' type="text" placeholder="First Name" />
            <input id="rSecondName" class='welcome-input' type="text" placeholder="Second Name" />
            <br/>
            <input id="Username" class='welcome-input' type="text" placeholder="Username" />
            <input id="Password" class='welcome-input' type="password" placeholder="Password" />
            <input id="Email" class='welcome-input' type="email" placeholder="Email" />
            <div id='reg-btn' class="btn">REGISTER</div>
        </div>
    </div>

    <script id='next' type="text/x-handlebars-template">
        <div id = 'input' >
            <p>Welcome!</p>
            <!-- <input type="text" name="country" id="country" > -->

            <input id="country"  list="country-autocomplete" placeholder="enter country">
            <datalist id="country-autocomplete">
            {{#each allData}}
            <option value="{{name}}">
            {{/each}}
                </datalist>
        </div>
    </script>

    <script id='visitedTemplate' type='text/x-handlebars-template'>
        <div id="visited">
           <table>
               <caption>Visited</caption>
               <thead>
                   <tr>
                       <th>flag</th>        
                       <th>name</th>        
                       <th>regione</th>
                       <th>time zone</th> 
                       <th>capital</th>                
                   </tr>
               </thead>
               <tbody>
                   {{#each counties}}
                   <tr id="{{name}}">
                       <td><img width='100' src='{{flag}}' /></td>
                       <td class="name">{{name}}</td>
                       <td>{{region}}</td>
                       <td>{{timezones}}</td>
                       <td>{{capital}}</td>
                   </tr>
                   {{/each}}
               </tbody>
           </table>
          
       </div> 
   </script>
   <script id='countryTemplate' type='text/x-handlebars-template'>
    <div id="country">
       <table>
           <caption>Visited</caption>
           <thead>
               <tr>
                   <th>flag</th>        
                   <th>name</th>        
                   <th>currency</th>
                   <th>area</th> 
                   <th>population</th>   
                   <th>map</th>             
               </tr>
           </thead>
           
           <tbody>
               {{#each country}}
               <tr id="{{name}}">
                   <td><img width='100' src='{{flag}}' /></td>
                   <td class="name">{{name}}</td>
                   <td>{{currency}}</td>
                   <td>{{area}}</td>
                   <td>{{population}}</td>
                   <td><iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" 
                    src="https://maps.google.com/maps?q={{latlng}}&z=5&output=embed"></iframe><br />
                   </td>
               </tr>
               {{/each}}
           </tbody>
       </table>
      
   </div> 
</script>
</body>

</html>