#login-container {
    margin: auto;
  }
  
  #reg-container {
    margin: auto;
  }
  
  .welcome-input {
    display: block;
    position: inherit;
    top: 25px;
    margin: 0 auto;
    width: 200px;
    height: 20px;
    font-size: 15px;
    border-style: none;
    outline-style: none;
    font-family: 'Lato', sans-serif;
    border-bottom: 1px solid lightseagreen;
    /* color: #2b3c53; */
  }
  
  .form {
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    position: relative;
    margin: 0 auto;
    width: 315px;
    height: 326px;
  }
  
  .form input:placeholder {
    text-align: center;
    font-weight: 200;
    font-style: italic;
    color: rgb(212, 208, 208);
  }
  
  .btn {
    border-radius: 7px;
    background-color:lightseagreen;
    position: relative;
    top: 40px;
    width: 121px;
    height: 35px;
    margin: 0 auto;
    text-align: center;
    padding-top: 5px;
    color: white;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color:lightseagreen;
  }
  
  .no-account {
    display: block;
    position: relative;
    top: 50px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 200;
  }
  
  .no-account>a {
    font-style: italic;
  }
  
  #reg-form input {
    margin-bottom: 15px;
  }
  #login-form input {
    margin-bottom: 15px;
  } 